body{background:black;color:lightgreen;font-family:monospace;}
p::before{content:'>';}
a::before{content:'[ ';}a::after{content:' ]';}
h2::before{content:'<< '}h2::after{content:' >>'}
li{list-style-type:hangul-consonant;}
