@font-face {
  font-family: Spaceport;
  src: url('Spaceport_2006.otf') format("opentype");
}
body{background:black;color:#fff;font-family:Share Tech Mono;max-width:100vw;-webkit-font-smoothing: antialiased;font-size: 12px;}

p {margin-bottom: 0.8em;margin-top: 0px;}
a{color:lightgreen; text-decoration:none;}
.ag{color:goldenrod;}
h1{
  font-size:3em;
  font-weight:100;
  letter-spacing:2px;
  margin:0px; padding:0px;
  text-transform:uppercase;
  font-weight: bold;
}
h2{
  font-size:2em;
  font-weight:100;
  letter-spacing:2px;
  margin:10px 0px;
  text-transform:uppercase;
  font-family: Spaceport;
}
h3{
  font-size: 2em;
  margin: 0px;
  font-family: Spaceport;
  font-weight: 100;
}
h4 {
    font-size: 1.2em;
    font-family: open sans;
    margin: 0 0 5px;
    letter-spacing: 4px;
}
h5 {
  text-orientation: upright;
  font-size: 4em;
  margin: 0px;
  padding: 5px 0px;
  font-weight: 100;
}
h6{
  text-transform: uppercase;
  font-family: sans-serif;
  font-weight: bold;
  margin:0px 0px 2px;
  font-size: 1em;
}
  h6::before{content:':: ';}
  h6 span.w {
      padding: 0px 4px;
      text-align: right;
      float: right;
  }
.red{color:red;}.blue{color:deepskyblue;}
ul,ol{font-size:1em;margin:0px;}
li{list-style-type:none;}
hr {
    border: 0px;
    border-top: 1px solid #808080;
    width: 90%;
    overflow: visible;
    margin: 15px auto 12px;
}
  hr::before {
      content: " ";
      display: block;
      width: 4%;
      position: relative;
      left: -5%;
      overflow: visible;
      top: -3px;
      background: repeating-linear-gradient( to right, #808080, #808080 1px, #000 1px, #000 2px );
      height: 5px;
  }
  hr::after {
      content: " ";
      display: block;
      width: 4%;
      position: relative;
      float:right;
      right: -5%;
      overflow: visible;
      top: -8px;
      background: repeating-linear-gradient( to right, #808080, #808080 1px, #000 1px, #000 2px );
      height: 5px;
  }
  img {box-sizing: border-box;width: 100%;}

.fl{float:left;}
.load {overflow: hidden;animation: load 2s steps(25, end);}
@keyframes load {
  from { height: 0px }
  to { height: 100vh }
}
.clear{clear:both;}

.topleft      {position:fixed; top:10px;    left:10px;}
.topright     {position:fixed; top:10px;    right:10px;}
.bottomleft   {position:fixed; bottom:10px; left:10px;}
.bottomright  {position:fixed; bottom:10px; right:10px;}

.g{color:rgba(255,255,255,0.5);}

.cont{padding:30px 20px;}

.col_1{width:20%;float:left;padding:0px 5px;box-sizing: border-box;}
  .clear_1{clear:none;}
.col_2{width:20%;float:left;padding:0px 5px;box-sizing: border-box;}
  .clear_2{clear:none;}
.col_3{width:20%;float:left;padding:0px 5px;box-sizing: border-box;}
  .clear_3{clear:none;}
.col_4{width:15%;float:left;padding:0px 5px;box-sizing: border-box;}
  .clear_4{clear:none;}
.col_5{width:20%;float:left;padding:0px 5px;box-sizing: border-box;}
  .clear_5{clear:none;}
.col_6{width: 5%;float:left;padding:0px 5px;box-sizing: border-box;}
  .clear_6{clear:none;}


.col1{float:left;display:block;box-sizing: border-box;padding:0px 10px;width:25%; }
.col2{float:left;display:block;box-sizing: border-box;width:5%; }
.col3{float:right;display:block;box-sizing: border-box;padding:0px 10px;width:70%; }
.col4{float:right;display:block;box-sizing: border-box;padding:0px 10px;width:70%; }

.col2{writing-mode: vertical-rl;max-width: 50px;height:850px;}

.half{float:left;width:50%;box-sizing: border-box;}
.half:nth-child(odd){padding-right: 10px;}.half:nth-child(even){padding-left: 10px;}

.third{float:left;box-sizing:border-box;padding:0px 5px;width:33.333%;}
.third.first{padding: 0px 5px 0px 0px;}.third.last{padding: 0px 0px 0px 5px;}
.third.two{width:66.666%;}

.fourth{float:left;box-sizing:border-box;padding:0px 10px;width:25%;}
.fourth.first{padding: 0px 10px 0px 0px;}.fourth.last{padding: 0px 0px 0px 10px;}

.fifth{float:left;box-sizing:border-box;padding:0px 10px;width:20%;}
.fifth.first{padding: 0px 10px 0px 0px;}.fifth.last{padding: 0px 0px 0px 10px;}

.wblock {
    background: #fff;
    color: #000;
    padding: 5px 0px 0px 10px;
    box-sizing: border-box;
    font-size: 2em;
    margin-bottom: 5px;
    height: 35px;
    text-transform: uppercase;
    position: relative;
}
  .wblock::after {
      content: ' ';
      position: absolute;
      bottom: 0;
      right: 0;
      border-top: 15px solid white;
      border-right: 15px solid black;
      width: 0;
  }
.sm{font-size: 0.8em;}
.stripe {
    background: repeating-linear-gradient( -45deg, #fff, #fff 10px, #000 10px, #000 30px );
    padding: 20px;
    animation-name: stripe;
    animation-iteration-count: infinite;
    animation-duration: 30s;
    animation-timing-function: linear;
    background: transparent;
    background-image: repeating-linear-gradient( -45deg, #fff, #fff 10px, #000 10px, #000 45px ),repeating-linear-gradient( -45deg, #fff, #fff 10px, #000 10px, #000 30px );
    background-size: 200% 200%;
    background-position: 0% 0%;
    margin:0px;
    box-sizing: border-box;
}
@keyframes stripe {
    0%{background-position:  0% 0%;}
   100%{background-position:  92.4% 100%;}
}
.agstripe {
    background: repeating-linear-gradient( -45deg, #fff, #fff 10px, #000 10px, #000 30px );
    animation-name: agstripe;
    animation-iteration-count: infinite;
    animation-duration: 120s;
    animation-timing-function: linear;
    background: transparent;
    background-image: repeating-linear-gradient( 45deg, #fff, #fff 6px, #000 4px, #000 18px ),repeating-linear-gradient( 45deg, #fff, #fff 6px, #000 4px, #000 18px );
    background-size: 100% 9000%;
    background-position: 0% 0%;
    margin:0px;
    box-sizing: border-box;
}
@keyframes agstripe {
    0%{background-position:  0% 0%;}
   100%{background-position:  0% 100%;}

}
.smwb{font-size: 1.5em; background:#fff; padding:3px 5px; color:#000;margin-right:10px;}

ul.bstat{padding:0px;margin:10px 0px 5px;}
ul.bstat li{width:50%;float:left;box-sizing: border-box;padding: 3px;position:relative;}
  .bstat li:nth-child(1){border-bottom:1px solid #555;border-right:1px solid #555;}
    .bstat li:nth-child(1):after{content:" ";width:10px;height:10px;position: absolute;border-top:1px solid #555;border-left:1px solid #555; top:0px; left:0px;}
  .bstat li:nth-child(2){border-bottom:1px solid #555;}
    .bstat li:nth-child(2):after{content:" ";width:10px;height:10px;position: absolute;border-top:1px solid #555;border-right:1px solid #555; top:0px; right:0px;}
  .bstat li:nth-child(3){border-right:1px solid #555;}
    .bstat li:nth-child(3):after{content:" ";width:10px;height:10px;position: absolute;border-bottom:1px solid #555;border-left:1px solid #555; bottom:0px; left:0px;}
  .bstat li:nth-child(4){}
    .bstat li:nth-child(4):after{content:" ";width:10px;height:10px;position: absolute;border-bottom:1px solid #555;border-right:1px solid #555; bottom:0px; right:0px;}
    .bstat li:nth-child(4):before{content:" ";width:11px;height:11px;position: absolute;border:1px solid #555; top:-7px; left:-7px;border-radius: 50px;}
.bstat .title{padding: 2px 5px;}
.bstat h3{padding: 3px 5px;}

.col2 .smwb {
    font-size: 1.2em;
    background: #fff;
    color: #000;
    margin: 0px 0px 0px;
    width: 100%;
    box-sizing: border-box;
    writing-mode: horizontal-tb;
    text-align: center;
}
.pport{border: 1px solid #555;}

.stats li {
    border-bottom: 1px solid #333;
    padding-bottom: 2px;
    margin-bottom: 2px;
}
.stats li:first-child{
  text-transform: uppercase;
  font-weight: bold;
}

.stats .fourth.first{width:40%;}
.stats .fourth{width:20%;}

.stats .fifth.first{width:40%;}
.stats .fifth {width: 15%;padding: 0px 5px;}

.wanted_level i {
    font-size: 1.75em;
    letter-spacing: -5px;
    margin: 3px 0px;
}

.tt .ttt {
    visibility: hidden;
    position: absolute;
    background: #000;
    border: 1px solid #555;
    width: auto;
    max-width: 200px;
    padding: 3px 5px;
    text-align: left;
    font-size: 10px;
    color:#fff;
    text-transform: none;
}

.tt:hover .ttt{
  visibility: visible;
}

.w{background:#fff; color:#000; padding:0px 1px;}

.wallet{
    writing-mode: horizontal-tb;
    text-align: center;
    float: left;
    width: 100%;
    border: 1px solid #555;
    box-sizing: border-box;
    padding: 5px;
    margin-bottom: 5px;
    font-size: 1.5em;
    word-break: break-all;
}

#passport i{writing-mode: lr;text-align: center;width: 100%;margin: -1px 0px 5px;padding: 3px;border: 1px solid #555;box-sizing: border-box;}

.prof{writing-mode: horizontal-tb;text-align: center;width: 100%;}

.a-t {cursor: pointer;}
.a-c {display: none;padding-bottom:10px;}
.a-c::after {
    content: ".";
    height: 10px;
    position: relative;
    bottom: 0px;
    color: #000;
}
.a-c.default {display: block;}

.credit{
  writing-mode: vertical-rl;
  margin: 0 auto 20px;
}
.defblock{
  padding:5px;
  text-align: center
}

.storage{
  border: 1px solid #fff;
  overflow: hidden;
  margin:3px 0px 10px;
  background: transparent;
  background-image: repeating-linear-gradient( -45deg, #555, #555 1px, #000 2px, #000 8px );
}
  .storage.home {border: 1px solid #555;}
  .storage .a-c::after {content: "";}
  .storage .itemd {
    background: #000;
    border: 1px solid #000;
    margin-top: -1px;
    border-top: 0px;
  }
  .itemd .sm {
    padding: 5px;
    border: 3px double #555;
    border-top: 0px;
  }
    .itemd .mod {
      background: #333;
      width: fit-content;
      padding: 3px;
      display: inline-block;
      border: 3px double #000;
    }
      .itemd .mod .sm {
        border: 0px;
        padding: 0px;
        font-size: 10px;
      }
        .itemd .sm div.sm {
          padding: 0px;
          border: 0px;
          font-size: 9px;
          margin-top: 0px!important;
        }
      .itemd .mod span {
        display: none;
      }

.storage li {
    background: #fff;
    color: #000;
    border: 1px solid;
    border-top:0px;
    box-sizing: border-box;
    padding: 3px 5px;
    text-transform: uppercase;
    overflow: hidden;
}
  .storage li:first-child{border-top:1px solid #000;}
    .storage li.s{height:20px;}.storage li.s::before {content: '[S] ';}
    .storage li.m{height:40px;}.storage li.m::before {content: '[M] ';}
    .storage li.l{height:80px;}.storage li.l::before {content: '[L] ';}
    .storage li.xl{height:160px;}.storage li.xl::before {content: '[X] ';}
      .storage.home li{background:#555;}



ul.ram {margin: 0px;padding: 0px;}
  ul.ram li {
    border-right: 2px solid #000;
    width: 10%;
    height: 7px;
    float: left;
    box-sizing: border-box;
    margin: 2px 0px;
    background: #555;
  }
    ul.ram li.w {background: #fff;}

ul.mods{padding:0px}
  ul.mods .a-c::after{content:"";}
  ul.mods li {
    border: 1px solid #555;
    padding: 2px;
    box-sizing: border-box;
    margin: 3px 0px;
    min-height: 30px;
    border-left: 4px double #333;
  }
    ul.mods li:first-child{border-top-right-radius: 12px;}
    ul.mods li:first-child .mod{border-top-right-radius: 10px;}
    ul.mods li:last-child{border-bottom-right-radius: 12px;}
    ul.mods li:last-child .mod{border-bottom-right-radius: 10px;}

li .mod {border: 1px solid #fff;border-left: 4px dashed;}
  li .mod h6{font-weight: bold;font-family: sans-serif;padding:10px;}
    li .mod .desc{border-top: 1px dashed #555;}
      li .mod .desc .sm{padding:10px;}



.spin{
  animation-name: spin;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
  @keyframes spin {
    from{transform: rotate(0deg);}
    to{transform: rotate(360deg);}
  }

ul.prog{padding:0px}
  ul.prog li {
    padding: 0px;
    box-sizing: border-box;
    margin: 3px 0%;
    width: 100%;
    float: left;
    border-bottom: 4px double #555;
    border-left: 4px double #555;
    padding-left: 3px;
    border-bottom-left-radius: 10px;
  }
    ul.prog li span.a-c::after{content:"";}

    ul.prog li .half{
      border: 1px solid #555;
      padding: 3px;
      text-align: center;
      margin: 0px;
      margin-top: 3px;
    }
      ul.prog li .half:nth-child(even){border-left: 0px;}
.subroutines{margin: 3px 0px;} .subroutines .w{margin-bottom:3px; text-transform: uppercase;padding:0px 3px;}
  .subroutines ul {padding: 0px;}
    .subroutines ul li {margin: 2px 0px;border: 0px;float:left;}
      .subroutines ul li:nth-child(odd) {width: 10%;text-align: center;}
      .subroutines ul li:nth-child(even) {width: 90%;}

ul.lifepath{padding:0px;}
  ul.lifepath li{float:left; border-bottom:1px solid #333;margin-bottom:2px;padding-bottom:2px;}
    ul.lifepath li:nth-child(odd){width:10%;margin-right:5%;}
    ul.lifepath li:nth-child(even){width:85%;}

ul.tech{padding:0px;}
  ul.tech li{float:left; border-bottom:1px solid #333;margin-bottom:2px;padding-bottom:2px;}
    ul.tech li:nth-child(even){width:10%;margin-left:5%;text-align: center;}
    ul.tech li:nth-child(odd){width:85%;}



.armour{border:1px solid #555;margin-top:3px;}

.armour .sm{padding:3px; border-top:1px solid #555;}
.armour i, .augment i{vertical-align: middle;font-size: 1.5em;line-height: 5px;}.augment i{padding-right:5px}
.armour .a-c::after{content:"";}

.crime .third.first{width:20%;overflow:hidden;}
.crime .third{width:60%;}
.crime .third.last{width:20%;}

.augment{margin-bottom:10px;}
.augment .smwb{
  text-transform: uppercase;
  font-size: 1em;
  position: relative;
  margin:0px;
  width: fit-content;
  padding-right: 10px;
  border-left: 10px double;
}
.augment .smwb::after {
    content: ' ';
    position: absolute;
    bottom: 0;
    right: -20;
    border-top: 20px solid transparent;
    border-left: 20px solid white;
    width: 0;
}
.augment .data {
    border-left: 4px solid #fff;
    margin-left: 3px;
    padding-left: 3px;
}

.augment .bonus {
    border: 1px solid goldenrod;
    margin-bottom: 3px;
    border-left: 4px solid goldenrod;
}
  .augment .bonus.passive{border:1px solid;border-left:4px solid;}
  .augment .bonus .bat {
      color: #fff;
      padding: 5px 2px;
      text-align: right;
      box-sizing: border-box;
  }
    .augment .bonus .bat .sm {
      float: none;
      padding: 0px;
      width: 100%;
    }
  .augment .bonus .bat i{
    vertical-align: middle;
    font-size: 2em;
    padding: 0px;
    line-height: 1em;
    float:right;
  }
.augment .bonus .sm{
    vertical-align: top;
    padding: 0 5px 5px;
    box-sizing: border-box;
    font-size: 0.8em;
}
.augment .bonus .bon {
    background: goldenrod;
    color: #000;
    margin: 3px 0px 0px;
    font-size: 1.3em;
    padding: 1px 3px;
    width: fit-content;
    display: inline-block;
}
.augment span.a-c{padding:0px;}.augment span.a-c::after{content:"";}

.polka {
      background: transparent;
      background-image: radial-gradient(#555 20%, transparent 0), radial-gradient(#555 20%, transparent 0);
      background-size: 10px 10px;
      background-position: 0px 0, 15px 15px;
      animation-name:polka;
      animation-duration: 2s;
      animation-iteration-count: infinite;
      animation-timing-function: steps(100, end);
  }
  .polka.lethal {background-image: radial-gradient(#b91a1a 20%, transparent 0), radial-gradient(#b91a1a 20%, transparent 0);}
    @keyframes polka{
      0%{background-position: 0px 0px,  15px 15px;}
      50%{background-position: 15px 0px, 30px 15px;}
      100%{background-position: 30px 0px, 45px 15px;}
    }
.melee{margin-bottom:5px;}
  .melee i {
    background: #000;
    color: #fff;
    float: left;
    border-bottom:2px solid #000;
  }
  .melee .title {
      background: #000;
      width: fit-content;
      float: left;
      padding: 5px 10px 5px 0px;
      border-bottom: 2px solid #000;
  }
  .melee .polka {border-bottom: 1px solid #555;}
  .melee .polka.lethal {border-bottom: 1px solid #b91a1a;}
  .melee .desc{padding:5px 0px;border-bottom: 1px dashed #333;}
  .melee .desc img{margin-bottom:5px;}
  .melee .a-c::after{line-height: 5px;}
.gun .dat{width:100%; box-sizing: border-box;float:right;}
  .gun .dat .sm{margin:3px 0px;}
  .gun .dat .w{line-height: 18px;}
.gun .mag {
    float: left;
    width: 27%;
    box-sizing: border-box;
    border: 1px solid #555;
    margin-right: 3%;
}
.gun img{width:70%;}

.melee .mod {
    border: 1px solid #333;
    padding: 1px;
    margin: 3px 0px;
}
.melee .mod .g{color:#333;}
.melee .mod.filled{border:1px solid #555;}
  .melee .mod.filled .g{color:#fff;}
  .melee .mod .loc.sm {
    background: #333;
    display: inline-block;
    padding: 5px;
    color: #000;
  }
  .melee .mod.filled .loc.sm{background:#555;}
ul.clip {
    border: 1px solid;
    margin: 5px auto;
    padding: 1px;
    width: 12px;
    border-top: 0px;
    border-bottom: 4px solid;
}
  li.bullet {
    width: 10px;
    border: 2px solid;
    margin: 1px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-right: 3px double;
    box-sizing: border-box;
    float: left;
  }
    ul.clip.rifle {width: 24px;}
    ul.clip.shotgun {width: 18px;}
      .shotgun li.bullet {
        width: 7px;height: 7px;
        border-radius: 10px;
        background: #fff;
      }
    ul.clip.snipe {width: 24px;}
      .snipe li.bullet {
        width: 22px;
        height: 5px;
        border: 1px solid;
        border-right: 3px double;
        border-left: 6px solid;
        margin:2px 1px
      }
    ul.clip.energy{
      border-top: 1px solid;
      border-bottom: 1px solid;
      margin: 5px auto;
      padding: 2px;
      width: 22px;
      border-radius: 30px;
    }
      ul.clip.energy li:nth-child(1){
        border-bottom: 0px;
        border-right: 0px;
        border-bottom-left-radius: 0px;
        border-top-right-radius: 0px;
      }
      ul.clip.energy li:nth-child(2){
        border-bottom: 0px;
        border-left: 0px;
        border-bottom-right-radius: 0px;
        border-top-left-radius: 0px;
      }
      ul.clip.energy li:nth-child(3){
        border-top: 0px;
        border-right: 0px;
        border-bottom-right-radius: 0px;
        border-top-left-radius: 0px;
      }
      ul.clip.energy li:nth-child(4){
        border-bottom: 0px;
        border-right: 0px;
        border-bottom-left-radius: 0px;
        border-top-right-radius: 0px;
      }

.kjmeter {
  width: 100%;
  border: 1px solid #fff;
  box-sizing: border-box;
  padding: 2px;
  position: relative;
}
  .kjmeter .power {
    background: transparent;
    background-image: repeating-linear-gradient( -45deg, #555, #555 1px, #000 2px, #000 4px );
    box-sizing: border-box;
    height: 10px;
    border: 1px solid #555;
  }
    .kjmeter .cp {
      background: #fff;
      box-sizing: border-box;
      height: 10px;
      position: absolute;
      top: 2px;
    }

.polkabg{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: auto;
    background: transparent;
    background-image: radial-gradient(#333 20%, transparent 0), radial-gradient(#333 20%, transparent 0);
    background-size: 10px 10px;
    background-position: 0px 0, 15px 15px;
    width:90%;
    max-width: 1000px;
    text-align: center;
    padding: 50px;
    box-sizing: border-box;
    animation-name: polkavert;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: steps(100, end);
}
@keyframes polkavert{
  0%{background-position: 0px 0px,  15px 15px;}
  50%{background-position: 0px 15px, 15px 30px;}
  100%{background-position: 0px 30px, 15px 45px;}
}

.polkabg .smwb{margin:0px;}

.polkabg .fourth{margin-bottom:15px;}

.langtitle{
  text-transform: uppercase;font-size: 1.2em;margin-bottom: 10px;
}

.langdrop{
  border:1px solid #333;
  padding:10px;
  background:#000;
  box-sizing: border-box;
  text-align: left;
}
.choices {margin: 50px 0px;}
  .choices .half{margin-bottom:15px;}

a.button {
    border: 1px double #555;
    padding: 10px 35px;
    text-transform: uppercase;
    background: #000;
    color:#fff;
}
  a.button:hover{border:1px solid #fff;}

.dice{width: 50px;margin: 15px;}

.bread {
    position: absolute;
    top: -20px;
    left: 0px;
    font-size: 0.8em;
    text-align: left;
}

.tac{text-align: center;}

.mb3{margin-bottom:3px;}.mb5{margin-bottom:5px;}

.bread.g a {color: rgba(255,255,255,0.5);}
  .bread.g a:hover {color: rgba(255,255,255,1);}

.langdrop .third {
  margin-bottom: 15px;
}

.help {
    background: #000;
    z-index: 500;
    box-sizing: border-box;
    margin: 35px 25px -15px;
    position: relative;
    padding: 25px;
    background-image: radial-gradient(#333 20%, transparent 0), radial-gradient(#333 20%, transparent 0);
    background-size: 10px 10px;
    background-position: 0px 0, 15px 15px;
    animation-name: polkavert;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: steps(100, end);
}

.help .tit{
    font-weight: bold;
    border-bottom: 1px solid #555;
    margin-bottom: 5px;
    padding-bottom: 3px;
    text-transform: uppercase;
}

/* =============================================================================
MEDIA QUERY --------------------------------------------------------------------
============================================================================= */

@media only screen and (max-width: 1500px) {

  .col12cont{width:25%}
  .col1{width:85%;}
  .col2{width:15%;}
  .col3{width:40%;}
  .col4{width:35%;float:left;}

  .col_1{width:30%;}
    .clear_1{}
  .col_2{width:25%;}
    .clear_2{}
  .col_3{width:40%;}
    .clear_3{clear:both;}
  .col_4{width:40%;}
    .clear_4{}
  .col_5{width:60%;}
    .clear_5{}
  .col_6{}
    .clear_6{}


}

@media only screen and (max-width: 1025px) {

  .col_1{}
    .clear_1{}
  .col_2{width:30%;}
    .clear_2{}
  .col_3{width:30%;}
    .clear_3{}
  .col_4{}
    .clear_4{}
  .col_5{}
    .clear_5{}
  .col_6{width: 10%;}
    .clear_6{}

  .col12cont{width:30%; float:left;}
  .col1{width:100%;}
  .col2{
    width:100%;
    max-width: 100%;
    writing-mode: horizontal-tb ;
    height:auto;
    padding:0px 10px
  }

  h5.fl {
      width: 15%;
      line-height: 1em!important;
      padding: 0px!important;
      margin-top: -3px;
  }
  .prof {
      display:none;
      writing-mode: unset;
      text-align: center;
      width: 15%;
      padding: 5px 0px;
      height: 40px;
  }
  .polkabg {
    position: relative;
    top: auto;
    left: auto;
    transform: none;
    margin: 50px auto;
  }
  .langdrop .third {
    width: 100%;
  }
}

@media only screen and (max-width: 769px) {

  .col_1{width:45%;}
    .clear_1{}
  .col_2{width:45%;}
    .clear_2{clear:both;}
  .col_3{width:50%;}
    .clear_3{clear:none}
  .col_4{width:50%}
    .clear_4{}
  .col_5{width:100%;}
    .clear_5{}
  .col_6{}
    .clear_6{}

  .col12cont{width:100%}
  .col1,.col2,.col3,.col4{width:100%;padding: 0px;}
  h5.fl {width: 15%;text-align: center;}
  .prof {display:block}
  .crime .third.first{width:30%;}
  .crime .third{width:45%;}
  .crime .third.last{width:25%;}
  .credit {width: 70%;}
}

@media only screen and (max-width: 600px) {

  .col_1{width:100%;}
    .clear_1{clear:none;}
  .col_2{width:100%;}
    .clear_2{clear:none;}
  .col_3{width:100%;}
    .clear_3{clear:none;}
  .col_4{width:100%;}
    .clear_4{clear:none;}
  .col_5{width:100%;}
    .clear_5{clear:none;}
  .col_6{width:100%;}
    .clear_6{clear:none;}

  .half{width:100%;}
  .half:nth-child(odd), .half:nth-child(even){padding:0px;}
  .fourth{width:100%;} .fourth.nmob{width:25%;}
  .half.defblock, .half.nmob{width:50%;}
  .bottomleft,.bottomright{display:none;}
  .cont{padding:10px 0;margin-top:30px;}
  .a-c.default {display: none;}
  .wallet div {max-width: 100%!important;}
  .col_6 h5 {
    width: 15%;
    float: left;
    margin-top: -10px;
  }
  .prof{float:left;}
  .credit{writing-mode: horizontal-tb;margin: 0px 0px 10px;}
  .pport div {
    writing-mode: horizontal-tb!important;
    margin: 5px!important;
  }
  .religious{writing-mode:horizontal-tb!important; margin:0px!important; text-align: center;}
  .polkabg {
    width: 95%;
    padding: 50px 15px;
  }
}
